<!--最新-->
<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/index.css" rel="stylesheet" />
        <title>伝言ゲーム</title>
    </head>
    
    <body>
        <div class="v33_38">
        </div>
        <span class="v33_39">伝言ゲームへようこそ！</span>

            <form method="POST">


                <!-- ゲーム開始ボタン -->
                <button class=a type="submit">お題の設定へ</button>

                <div class="v49_31">
                </div>
            <!-- プレイヤーの数を入力するフォーム -->
                <label for="num_players">プレイヤーの人数</label>


                <!-- プレイヤーの数は2以上 -->
                <input type="number" id="num_players" name="num_players" min="2" class="players" required>
                <span class="v54_40">人</span>

            </form>
    </body>
</html>
