<!DOCTYPE html>
<html>
<head>
    <title>伝言ゲーム</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reveal.css">
</head>
<body class="back">
    <div class="title_part1" >
        <h1>伝言ゲーム</h1>
    </div>
    <!-- ゲーム結果を表示する -->
    <div class="wrap pattern-1" id="makeImg">
        <h1>ゲーム結果</h1>
    </div>
    <!-- ゲームの内容を表示する -->
    <div class="game-content">
        <div class="cont">
            {% for turn in game %}
                <!-- 偶数のターンのみ表示する -->
                {% if loop.index0 % 2 == 0 %}
                    <!-- ターンの内容を表示する -->
                    <div class="balloon_r">
                        <div class="faceicon">
                            <img src="../static/pictures/image{{ loop.index0 }}.jpeg" alt="" >
                        </div>
                        {% if loop.index0 == 0 %}
                            <div class="says"><p>お題は {{ turn['content'] }}</p></div>
                        {% endif %}
                        {% if loop.index0 != 0 %}
                            <div class="says"><p>{{ turn['content'] }}</p></div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if loop.index0 % 2 == 1 %}
                    <!-- 画像を表示する -->
                    <div class="balloon_l">
                        <div class="faceicon">
                            <img src="../static/pictures/image{{ loop.index0 }}.jpeg" alt="" >
                        </div>
                        <div class="says">
                            <img src="static/pictures/Add_{{ loop.index0 - 1 }}.jpg" alt="Add image">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="right-top-square"></div>

    <form method="POST" action="/reset">
        <button type="submit" class="title_part3"><h2>やめる</h2></button>
    </form>

    <form method="POST" action="/shutdown">
        <button type="submit" class="title_part4"><h2>もう一度</h2></button>
    </form>
     
    <!-- プレイヤーの回答を入力するフォーム -->
    <form method="POST" action="/reveal">
        <!-- 次へボタン -->
        <button type="submit"class="title_part2" ><h2>撮影中の画像も出力</h2></button>
    </form>

</body>
</html>
