<!--最新-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/subject.css">
        <title>伝言ゲーム</title>
    </head>

    <body>
        <div class="v33_38">
        </div>
        <span class="v33_39">伝言ゲーム</span>

            <form method="POST">

                <!-- ゲーム開始ボタン -->
                <button class=a type="submit">ゲーム開始</button>    

                <div class="v49_31">
                </div>
                <label for="theme">お題の設定</label>

                <input type="text" class="theme" id="textbox" name="theme" required>

            </form>
            <div class="yellow-box">
            </div>
            
        </div>
    </body>
</html>
