.circle{
    width: 300px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    left: 110px;
    opacity: 1;
    font-family: Inter;
    font-weight: Regular;
    font-size: 40px;
    text-align: center;
  
  }
  
  .v59_133{
    width: 463px;
    height: 96px;
    background: rgba(192,230,251,0.5);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 22px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  
  .v59_153 {
    width: 146px;
    height: 60px;
    color: rgba(0,0,0,1);
    background: rgba(159,213,243,1);
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 1220px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    text-align: center;
  }
  
  .v59_156 {
    width: 146px;
    height: 60px;
    color: rgba(0,0,0,1);
    background: rgba(159,213,243,1);
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 1030px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    text-align: center;
  }
  
  .v59_158 {
    width: 755px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 50px;
    left: 630px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  
  h1{
    text-align: center;
    font-size: large;
    position: relative;
    top: 60px;
    font-weight: bold;
  }
  
  #image{
    left: 200px;
    top: 200px;
    width: 600px;
    height: 400px;
    background: rgba(159,213,243,1);
    position: absolute;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  
    text-align: center;
    line-height: 350px;
  }
  
  .gray-box {
    width: 500px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 15px;
    text-align: left;
    font-size: 30px;
    margin: 20px auto; /* 水平方向のみ中央揃えに変更 */
    position: relative;
    left: 300px;
    top: 200px;
  }
  
  .theme {
    width: 350px;
    height: 100px;
    background: rgba(255,238,179,1);
    position: absolute;
    top: 94px;
    left: 143px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
  }
  
  #theme{
    margin-right: 300px;
    font-size: 30px;
    position: relative; /* 追加 */
    top: 30px; /* この値を調整してラベルを下に移動させてください */
    white-space: nowrap;
    left: 30px;
  }
  
  .v59_150 {
    width: 384px;
    height: 84px;
    background: rgba(132,249,214,1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 1000px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  
  #button {
    width: 400px;
    background-color: #C6B2FF;
    border: none;
    padding: 30px 50px;
    border-radius: 10px;
    position: fixed; /* 画面全体に対して配置 */
    top: 550px;
    left: 1000px;
    font-size: 50px;
  }
  
  body {
    background: rgba(238,255,249,1);
    font-size: 14px;
  }